*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    gap: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    position: sticky;
    top: 0px;
    background-color: white;
    
    
}

.hleft{
    display: flex;
    align-items: center;
}

.logo{
    padding: 24px 30px;
    border-right: 1px solid #e1dfdf;
    width: 100%;
}

.address{
    padding: 20px;
}

.address h3{
    font-size: 18px 30px;
    margin-bottom: 5px;
    color: black;
}

.address p{
    font-size: 14px;
    color: black;
}

.hsearch{
    flex-grow: 1;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #f4f4f4;
    height: 50px;
    margin-left: 10px; 
}

.hsearch button{
    padding: 15px;
    border: none;
    background-color: transparent;
}



.hsearch input{
    flex-grow: 1;
    border: none;
    background-color: transparent;
    font-size: 17px;
}

.hsearch input:focus{
    outline: none;
}

.hsearch button i{
    font-size: 18px;
}

 .hbtn{
    display: flex;
   
    margin-right: 40px;
    margin-left: 10px;
    gap: 40px;
 }
 .hbtn button{
    padding: 15px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
 }
 #hh{
    background-color: rgb(12, 131, 31);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
 }

 .bannersec{
    margin:  auto;
    max-width: 1280px;

 }
 .bannersec img{
    width: 100%;
 }

 .secline{
    display: flex;
    max-width: 1280px;
    margin: auto;
     gap: 22px;
    /* width: 85%; */
    padding: 5px; 
    border-radius: 10px;
 }
 .slineitem{
  flex-basis: 27%;
 }
 .slineitem img{
  width: 100%;
  margin: 1%;
 }

 .thirdline{
     display: flex;
    flex-wrap: wrap; 
    margin: auto;
    max-width: 1280px;
    /* margin-top: 27px;
    margin-bottom: none; */
    /* width: 100%; */
    /* flex-basis: 100%; */
    
 }

.thirdlineitem{
  flex-basis: 10%;

}

 .thirdlineitem img{
  margin: 2%;
    border-radius: 10px;
    width: 85%;
  
 }


 .headingrow{
    font-size: 25px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.5%;
    margin-left: 1%; 
 }
 .headingrow h2{
  font-size: 22px;
 }

 .headingrow a{
    /* display: flex; */
    font-size: 21px;
    font-weight: 530;
    color: #328839;
 }

 .prosec{
    max-width: 1280px;
    margin: auto;
    padding:30px 0px 0px 0px ;
 }
 .prorow{
    width: 100%;
    margin: 30px 0px 0px 0px ;
    display: flex;
    gap: 1.5%;
 }
 .proitem{
    flex-basis: 15%;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px #dfdede;
     width: 15%;
     align-items: center;
     
    
 }
 .proimg{
    text-align: center;
    padding: 15px;
   
 }

 .proimg p{
    background-color: #f7f3f3;
    border-radius: 7px;
    display: flex;
    padding: 2px;
    gap: 2px;
    font-size: 12px;
    align-items: center;
    width: 65px;
    text-align: left;
    justify-content: center;
 }
 

 .procontent{
    padding: 15px;
    padding-top: 0px;
    
  
 }
 
 .procontent h5{
   font-size: 14px;
   margin-bottom: 15px;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis; 
   white-space: normal;
   line-height: 1.2em;   
   height: 2.4em;        
   /* min-height: 2.4em;  */
 }


 .procontent p{
    font-size: 13px;
    margin-top: 20px;
    color: #848080;
    height: 100%;
 }

 .probutton{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
    font-size: 14px;
    
    
 }

 .probutton button{
   border: 1px solid #328839;
   padding: 6px 13px;
   border-radius: 7px;
   background-color: #f7fff9;
   font-size: 17px;
   color: #49a51c;
   cursor: pointer;
 }
 .probutton button b{
   font-weight: 400;
 }

 footer{
   padding: 50px 0px 0px 0px;
 }

 .footer{
   max-width: 1280px;
   margin: auto;
   margin-top: 55px;
   
 }

 .footerr1{
   width: 100%;
   display: flex;
 }

 .footerr1left{
   flex-basis:30% ;

 }

 .footerr1left h3{
   margin-bottom: 30px;
   font-size: 18px;
 }

 .quicklinks{
   display: flex;

 }
 .quicklinks ul{
   flex-basis: 33%;
   list-style: none;
 }

 .quicklinks ul li a{
   text-decoration: none;
   display: block;
   margin-bottom: 12px;
   font-size: 14px;
   color: rgb(102, 102, 102);
 }

 .footerr1right{
   flex-basis: 70%;
 }
 .footerr1right h3{
  font-size: 18px;
  margin-bottom: 30px;
 }

 .catsee{
   display: flex;
   gap: 20px;
   margin-bottom: 26px;
   font-size: 26px;
 }
 .catsee a{
   font-size: 16px;
   text-decoration: none;
   color: #49a51c;
 }
 .quicklinks2{
   display: flex;
   margin-top: 20px;
 }
 .quicklinks2 ul{
   flex-basis: 33%;
   list-style: none;
 }
  .quicklinks2 ul li a{
   text-decoration: none;
   display: block;
   margin-bottom: 12px;
   font-size: 14px;
   color: rgb(102, 102, 102);
 }

 .footer2nd{
   background-color: #fcfcfc;
   width: 100%;
   padding: 20px 0px;
   margin-top: 30px;
   display: flex;
   align-items: center;
 }
 .footer2nd p{
   font-size: 12px;
   flex-basis: 38%;
   text-align: center;
   color: rgb(102, 102, 102);
 }
 .footer2ndicon{
   display: flex;
   gap: 23px;
   flex-basis: 30%;
   align-items: center;
   
 }
  .footer2ndicon h6{
    font-size: 14px;
    color: rgb(102, 102, 102);
  }
 .footer2ndicon img{
   width: 100px;
   cursor: default;
 }
 .slink{
   display: flex;
   gap: 20px;
   margin: 0px 0px;
 }

 .slink i{
   
   height: 40px;
   width: 40px;
   color: white;
   background-color: #1f1f1f;
   justify-content: center;
   align-items: center;
   text-align: center;
   border-radius: 50%;
   display: flex;
   font-size: 20px;
   
 }

 .footer3rd{
   color: rgb(102, 102, 102);
   padding: 20px 0px;
   font-size: 14px;
   line-height: 27px;
   width: 100%;
 }
